<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-7 form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="col-xs-2 form-group">
          <label for="qty">Amount</label>
          <input type="number" class="form-control" id="qty">
        </div>
        <div class="col-xs-3">
          <button class="btn btn-success" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>